body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: table;
    background: #2c2f33;
}

.plusBtn {
    position: relative;
    right: -620px;
    bottom: -300px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: rgb(67, 181, 129);
    background: #333;
    border: none;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    font-size: 35px;
    transition: 0.2s ease;
    cursor: pointer;
}

.plusBtn:focus {
    outline: 0;
}

.plusBtn:hover {
    border-radius: 20%;
    background: rgb(67, 181, 129);
    color: white;
}